#blog-details {
    padding-top:unset;
    padding-top:20px;
}

#fullBtn {
    width:100%;
}

.alertSpecial {
    max-width:500px;
    width:300%;
    text-align:center;
    display:block;
    margin:0 auto;
    padding-bottom:30px;
    margin-top:5px;
}